body {
	background-color: #d9dee6;
	color: #3a3c43;
	font-family: Roboto;
	font-size: 18px;
	font-weight: lighter

	h1,h2{font-family: Lora;}
					}
	h1{
		color: rgb(23, 49, 187);
		font-size: 38px;
						}

		h2{
			color:#2AA672;
			font-size: 24px;
			font-weight: lighter;
			
							}

a {
	text-decoration: none;
	color: rgb(23, 49, 187);
	font-weight: bold;
							}
a:hover {
	color: black;
				}

/* Custom with class */
.container{
	width: 700px;
	margin: 40px auto;
}


.card-white{
	background-color: white;
	padding: 25px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle{
	border-radius:50%;
}
.btn-blue{
	background-color: rgb(23, 49, 187) ;
	color: white;
	padding: 15px 20px;
	border-radius:4px ;
}
.list-inline{
	list-style: none;
	padding-left:0px ;
}
.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	font-size:50px ;
	color: black;
}

#introduction p{ 
margin-bottom:40px
 }
